<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Business</title>
  </head>
  <body>
 <section class="header-container"></section>
 <section id="hero-section" style="margin-bottom: 90px;">
    <div class="swiper-wrapper">
         <div class="swiper-slide con">
        <img src="../imgas/business2.avif">
        <div class="back-color d-flex  text-center">
        <div class="hero-content">
            <h1 class="big zoom" style="margin: 0;">About Us</h1>
            <a href="#" class="text-primary">Home</a>
            <i class="far fa-circle text-primary"></i>
            <a href="#" class="text-primary">About</a>
          </div>
        </div>
      </div>  
         </div>
        
   </section>
   <section class="Solution padding  hero-content">
    <div class="container-2">
        <div class="d-flex nowrap start">
            <div class="col-4 zoom">
                <div class="form-content  md-5 service-content couter-content">
                    <p class="small secound">About Us </p>
                    <h1 class="couter-big">The Best IT Solution With 10 Years of Experience</h1>
                </div>
                <p class="md-4">Our mission is to collaborate with customers for their success as we build a diversified clientele, including businesses and individuals operating in many different fields and economies. </p>
                <div class="d-flex gap-0 Solution-content ">
                    <div class="form-middle ">
                        <h5 class="md-4">
                            <i class="fa fa-check"></i>
                            Award Winning

                        </h5>
                        <h5 class="md-4">
                            <i class="fa fa-check"></i>
                        
                            Professional Staff

                        </h5>
                    </div>
                    <div class="form-middle">
                        <h5 class="md-4">
                            <i class="fa fa-check"></i>
                            24/7 Support<br>

                        </h5>
                        <h5 class="md-4">
                            <i class="fa fa-check"></i>
                            Fair Prices

                        </h5>
                    </div>
                    </div>
                    <div class="d-flex justify-content-start gap">
                        <div class="content-form">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="number">
                            <h5 class="md-4" style="margin: 0;"> Call to ask any question  </h5>
                            <h4 class="content">+91-8595718015</h4>
                        </div>
                    </div>
                    <div class="justify-content margin">
                        <a href="#" class="btn-1 w-50">Request A Quote</a>
                    </div>
            </div>
          <div class="col-2 zoom">
          <div class="Solution-img">
            <img src="../imgas/business3.avif">
          </div>
    </div>
   </section>
   <section class="Business latest-project our-service padding">
    <div class="container-2 padding">
     <div class="service-content mar pad hero-content couter-content">
        <p class="small secound">Why Choose Us</p>
        <h1 class="couter-big">We Are Here to Grow Your Business Exponentially</h1>
     </div>
     <article class="d-flex padding gap">
        <div class="col-3 zoom">
            <div class="d-flex column">
                <div class="col-12">
                    <div class="content-form md-3">
                        <i class="fa fa-cubes "></i>
                    </div>
                    <h4>Best In Industry</h4>
                    <p>DigiHub Group is provides digital marketing 
                        services and it is best in its fields.</p>
                </div>
                
                <div class="col-12">
                    <div class="content-form md-3">
                        <i class="fa fa-award"></i>
                    </div>
                    <h4>Award Winning </h4>
                    <p>We are bestowed with marketers having an 
                        average 4+ years of experience in their
                         fields. This enables us to trust our team
                          with our high-priority client projects.


                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 zoom">
        <div class='business-img'>
        <img src="../imgas/business4.avif"/>
        </div>
        </div>
        <div class="col-3 zoom">
            <div class="d-flex column">
                <div class="col-12">
                    <div class="content-form md-3">
                        <i class="fa fa-users-cog"></i>
                    </div>
                    <h4>Professional Staff</h4>
                    <p>We have professionals who has saveral 
                        years of experience and has best finishing
                         in their work.

                    </p>
                </div>
                
                <div class="col-12">
                    <div class="content-form md-3">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <h4>24/7 Support</h4>
                    <p>Our support team provides you the best 
                        services who are alwayes available for 
                        your concerns.</p>
                </div>
            </div>
        </div>
    
     </article>
   </div>
   </section>

   <section class="form-section padding hero-content">
    <div class="container-2">
        <div class="d-flex nowrap start">
            <div class="col-4 zoom">
                <div class="form-content md-5 service-content couter-content">
                    <p class="small secound">Contact Us</p>
                    <h1 class="couter-big">Need A Free Quote? Please Feel Free to Contact Us  </h1>
                </div>
                <div class="d-flex">
                    <div class="form-middle">
                        <h5 class="md-4">
                            <i class="fa fa-reply"></i>
                            Reply within 24 hours

                        </h5>
                    </div>
                    
                    <div class="form-middle">
                        <h5 class="md-4">
                            <i class="fa fa-phone-alt"></i>
                            24 hrs telephone support
                        </h5>
                    </div>
                    </div>
                    <div class="form-img">
                        <img src="../imgas/cartoon1.png">
                    </div>
                    <div class="d-flex justify-content-start gap">
                        <div class="content-form">
                            <i class="fa fa-phone-alt"></i>
                        </div>
                        <div class="n zoom">
                            <h5 class="md-4" style="margin: 0;"> Call to ask any question  </h5>
                            <h4 class="content">+91-8595718015</h4>
                        </div>
                    </div>
            </div>
            <div class="col-2 zoom">
             <form class="submit d-flex">
             <div class="d-flex column">
                <div class="col-5">
                    <input type="text" class="input" placeholder="your name"/>
                </div>
                <div class="col-5">
                    <input type="number" class="input" placeholder="your phone no."/>
                </div>
                <div class="col-5">
                    <select class="form-select input">
                        <option selected>select a service</option>
                        <option value="">Web Development</option>
                        <option value="">App Development</option>
                        <option value="">SEO</option>
                        <option value="">Google Ads</option>
                        <option value="">Social Media</option>
                    </select>
                </div>
                <div class="col-5">
                    <textarea placeholder="message" class="input form-textarea" rows="3"></textarea>
                </div>
                <div class="col-5 col-back">
                    <button class="input">Send</button>
                </div>
             </div>
             </form>
            </div>
        </div>
    </div>
   </section>
   <section class="footer-data"></section>
   <div class="loader-container">
   <div class="box"></div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

 <script src="./index.js"></script>

</body>
</html>
