<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Business</title>
</head>
<body>

<footer class="footer-container">
    <div class="container-2">
    <article class="d-flex start nowrap">
        <div class="col-3 footer-about">
         <div class="d-flex column">
            <a href="#" class="navbar-brand">
                <h1>
                    <i class="fa fa-user-tie"></i>
                    Business <br>
                    Group
                </h1>
            </a>
            <p class="md-3" style="font-size: 18px;">Digihub group is dedicated to learning about
                 and understanding your business. Each of our 
                 marketing campaigns is built with the client’s 
                 needs in mind to solve the greatest marketing problems.</p>
          <form class="footer-form">
            <div class="input-group ">
                <input type="number" class="form-control"  placeholder="Your phone no.">
                <button class="btn">Get Quote</button>
            </div>
          </form>
         </div>
        </div>
        <div class="col-6">
            <div class="d-flex start">
                <div class="col-3 ">
                    <div class="section-title service-content">
                        <h1>Get In Touch</h1>
                    </div>
                    <div class="d-flex link-animated justify-content">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>West Delhi, Delhi-110041</p>
                    </div>
                    <div class="d-flex link-animated justify-content">
                        <i class="fa-regular fa-envelope-open"></i>
                        <p>info@digihubgroup.com</p>
                    </div>
                    <div class="d-flex link-animated justify-content">
                        <i class="fa-solid fa-phone"></i>
                        <p>+91-8595718015</p>
                    </div>
                    <div class="d-flex justify-content " style="gap:1rem" >
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="section-title service-content">
                        <h1 class="text-light">Our services</h1>
                    </div>
                    <div class="link-animated d-flex start column" style="gap:1rem;">
                        <a class="text-light" href="contact.html"><i class="fa fa-arrow-right"></i>Website</a>
                        <a class="text-light" href="contact.html"><i class="fa fa-arrow-right"></i>SEO</a>
                        <a class="text-light" href="contact.html"><i class="fa fa-arrow-right"></i>Google ads</a>
                        <a class="text-light" href="contact.html"><i class="fa fa-arrow-right"></i>Social meida marketing</a>
                        <a class="text-light" href="contact.html"><i class="fa fa-arrow-right"></i>Social media handling</a>
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>Application</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="section-title service-content">
                        <h1 class="text-light ">Popular Links</h1>
                    </div>
                    <div class="link-animated d-flex start column" style="gap:1rem">
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>Home</a>
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>About Us</a>
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>Our Services</a>
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>Mission and vision</a>
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>Latest Blog</a>
                        <a class="text-light" href="#"><i class="fa fa-arrow-right"></i>Contact Us</a>
                    </div>
                </div>
           
            </div>
        </div>
      </article>
    </div>
    <div class="footer-bottom">
        <div class="container-2 text-center">
            <div class="d-flex justify-content-end">
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <p style="margin: 0;">
                            <a href="#" class="text-white">DigiHub Group</a>
                            . All Rights Reserved. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../index.js"></script>
</body>
</html>